* {
  box-sizing: border-box; }

  /* All devices (common elements) */

htm, body {
  margin: 0;
  padding: 0; }

  p {
  line-height: 1.4;
  font-size: 1.5rem; /* 24px */
  }

  .cover p {
    font-size: 1rem;
    display: block;
    position: relative;
  }

  img {
    width: 100%;
    height: auto;
  }

.header {
  display: flex;
  border: 0;
  height: 100vh;
  background: #ffffff;
  padding: 2rem; }

  .header h1 {
    margin-top: 0;
    font-size: 3rem; /* 160px */
    letter-spacing: -1px;
    color: 000;
    margin: auto;
    display: block;
    line-height: 80%;
    text-align: center;
  }

  .header h2 {
    font-size: 5rem; /* 80px */
    margin: auto;
  }

.cover {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}

article {
  padding: 0;
  margin: 0;
}

.fifty, .sixty, .seventy, .eighty {
  max-width: 90%;
}

.one::after {
    content: '';
    position: absolute;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    border: 5px solid #fff;
    opacity: 0.35;
    z-index: -1;
}

.one::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #99463a;
    opacity: 0.75;
    z-index: -2;
}

.one p {
   color: #fff;
   font-family: Helvetica, Arial, sans-serif;
  }

.centered {
  margin: auto
}

footer {
  text-align: center;
  margin-bottom: 3em; }

  .softgreen-bkg {
    background-color: #a1fcdf;
  }

  .softgreen {
    color: #a1fcdf;
  }

  .softgrey-bkg {
    background-color: #f7ede2;
  }

  .grey-bkg {
    background-color: #000;
  }

  .yellow-bkg {
    background-color: #ffc145;
  }

  .yellow {
    color: #ffc145;
  }

  .white {
    color: #fff;
  }

  .brown-bkg {
    background-color: #99463a;
  }

  .brown {
    color: #99463a;
  }

  .orange-bkg {
    background-color: #e88d67;
  }

  .black-bkg {
    background-color: #000;
  }

  .border {
    border: 20px solid #000;
  }

  .no-border {
    border: 0;
  }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .two {
    display: flex;
    flex-direction: column;
  }

  .two h2 {
    font-size: 12rem;
    background-color: none;
    color: #000;
    margin: auto 0;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 80%;
  }

  .two p {
    display: block;
    text-align: center;
    margin: auto 0;
    line-height: 100%;
  }

  .two div {
    flex-wrap: wrap;
    width: 100%;
  }

  .two h2 span {
    font-size: 29rem;
    background-color: none;
    color: #000;
    display: block;
    line-height: 0.8;
  }

  .four .waterfall {
    margin: auto;
    display: flex;

  }

  .four .waterfall p {
    font-size: 2rem;
    line-height: 100%;
  }


  .four .waterfall p.rota90 {
    font-size: 6rem;
    line-height: 100%;
    text-align: right;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    height: 50vh;
    width: 50vh;
    display: block;
  }


  .four .waterfall p:first-child:first-letter {
      font-size: 100%;
      font-weight: normal;
      padding: 0;
      line-height: 1.4;
      float: none;
      clear: both;

    }

  p.chapter {
    position: fixed;
    left: 0;
    top: 0;
    margin: auto;
    padding: 50px;
    background-color: #000;
    z-index: 1;
    text-transform: uppercase;
  }

  p.capitalize {
    text-transform: capitalize;
  }

  p:first-child:first-letter {
    font-size: 480%;
    font-weight: bold;
    float: left;
    clear: both;
    padding: 1.4rem 1rem 0 0;
}

  .header h1 {
    font-size: 4rem; /* 160px */
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    }

  .fifty {
      max-width: 50vw;
    }

    .sixty {
      max-width: 60vw;
    }

    .seventy {
      max-width: 70vw;
    }

  .eighty {
      max-width: 80vw;
    }

    .ninety {
        max-width: 90vw;
      }

    .wrapping {
        flex-wrap: wrap;
      }

    img.horizontality {
      float: left;
      margin-right: 2em;
      padding: -2rem;
      width: 50vw;
      height: auto; }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
 }
